body {
    margin: 0;
    background-color:lightblue;
  }
  
  #my-canvas  {
    background-color:lightgray;
    
  }
  .score{
    font-style: italic;
    padding: 50px;
    font-size: 30px;
  }
 
  #start-btn, #restart-btn {
    background-color: green;
    color: white;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 10px; 
  }

  #my-lives{
    color: black;
  }
  

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

  #my-canvas{
    display: none;
  }
  #gameover-screen{
    display: none;
    
  }

  .score{
    display: none;
    
  }

  .cleanCar{
    color: black;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .cleanCarTwo{
    color: black;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -50px;

  }
  
 .gameover {
  font-size: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: -70px;
  


 }

 .instruccions {
   font-size: 30px;
   margin-top: -30px;
   font-family:sans-serif
   
 }
 .phrase {
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  margin-top: -20px;


 }
 .phrase1  {
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  margin-top: -20px;

 }

 .phrase2  {
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  margin-top: -20px;

 }
 .phrase3  {
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  margin-top: -20px;

 }
 .arrowLeft {
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  margin-top: -20px;

 }

 .arrowRigth {
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  margin-top: -20px;


 }

 label{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size:25px
 }




 
 

  